@charset "UTF-8";

/* Todas as demais midias */
/* Tipical device breakpoints 
celular: 480px
tablet: 768px
desktop: 1024
TV: acima de 1280px */


@media print { /*IMPRESSÃO*/
    
}

@media screen and (min-width: 768px) and (max-width: 768px) { /*TABLET*/
    body {
        background-image: url(imagens/back-tablet.jpg);
    }

    img#phone { display: none; } 
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1280px) { /*DESKTOP*/
      
}

@media screen and (min-width: 1200px) { /*GRANDES TELAS*/

}